body {
  color: black;
  font-weight: 300;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

p {
  color: black;
font-size: xx-large;
}
img {
  max-width: 100%;
  max-height:100%;
  float: left;
}

.text {
  font-size: 50px;
  padding-left: 25px;
  padding-top: 30%;
float: left;
}

